.profile {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  max-width: 880px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}