.popup__close {
  background-image: url(../../../images/Close_icon.svg);
  background-size: cover;
  height: 48.28px;
  width: 48.28px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: 0.7s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .popup__close {
    height: 36.76px;
    width: 36.76px;
    top: -50.38px;
    right: 0;
  }
}