.profile__avatar {
 background-image: url();
 background-size: cover;
 position: relative;
  width: 120px;
  height: 120px;

  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media screen and (max-width:768px) {
  .profile__avatar {
    margin-left: 0;
    margin-bottom: 26px;
  }
}

.profile__avatar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}

.profile__avatar:hover::before{
  background-color: #000;
  opacity: 0.8;

}