.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media screen and (max-width:768px) {
  .profile__avatar {
    margin-left: 0;
    margin-bottom: 26px;
  }
}