.profile__info {
  width: 610px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: minmax(auto, max-content) 24px;
  align-items: center;
  column-gap: 18px;
  row-gap: 14px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    width: 217px;
    column-gap: 10px;
    margin-left: 28px;
    grid-template-columns: minmax(auto, max-content) 18px;
  }
}