.profile__info {
  max-width: 336px;
  padding-right: 244px;
  padding-left: 30px;
  display: flex;
}

@media screen and (max-width: 960px) {
  .profile__info {
    padding-right: 190px;
  }
}

@media screen and (max-width: 880px) {
  .profile__info {
    padding-right: calc(190px - (880px - 100%));
  }
}