.profile__button-edt {
  background-image: url(../../../images/Edit_desktop.svg);
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  background-position: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.profile__button-edt:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__button-edt {
    background-image: url(../../../images/Edit_mobile.svg);
    width: 18px;
    height: 18px;
  }
}